p, h2 {
    text-align: center;
}

#images {
    height: 210px;
    width: 100%;
}

#randomNumber, #currentNumber, 
#wolfStart, #pandaStart, 
#eagleStart, #tigerStart{
    font-weight: 600;
    font-size: 40px;
}

img {
    cursor: pointer;
    border-radius: 120px;
    border-width: 3px;
    border-style: solid;
}

img:hover {
    border-width: 8px;
}

img:active {
    height: 198px;
    width: 198px;
    border-color: green;
}

.container {
    background-color: #eeeeee;
}

